* {
  box-sizing: border-box;
}

body {
  background-color: #FFFBEA;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.cards__container {
  margin: 0 auto;
  max-width: 1200px;
}

.cards {
  padding: 30px;
}

.cards__container {
  display: flex;
  flex-direction: column;
  padding: 15px;

  gap: 60px;
}

@media screen and (min-width: 996px) {
  .cards__container {
    flex-direction: row;
  }
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  border: 3px solid #000;
  border-radius: 40px 40px 0 0;
  color: #000;
  text-decoration: none;
  transition: 0.2s ease;
}

.card:hover {
  box-shadow: 10px 10px 0 #000;
  transform: translateY(-10px);
}

.card--theme-one,
.card--theme-one:hover {
  background-color: #009DFF;
}

.card--theme-two,
.card--theme-two:hover {
  background-color: #EA00FF;
}

@media screen and (min-width: 996px) {
  .card {
    background-color: #FFF9E0;
  }
}

.card__image {
  margin: 20px auto 0 auto;
  padding-top: calc(300 / 410 * 100%);
  width: 90%;
  background-size: 100%;
}

.card__content {
  padding: 30px 20px;
  background-color: #FFF;
  border-top: 3px solid #000;
}

.card__strapline {
  padding: 5px 15px;
  background-color: #FFC700;
  border: 3px solid #000;
  border-radius: 20px;
  color: #FFF;
  font-size: 11.5px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.card--theme-one .card__strapline {
  background-color: #EA00FF;
}

.card--theme-two .card__strapline {
  background-color: #009DFF;
}

.card__title {
  margin: 20px 0 0;
  font-size: 24px;
  font-weight: 700;
}

.card:hover .card__title,
.card:focus-visible .card__title {
  text-decoration: underline;
}

.card__description {
  margin: 10px 0 0;
  line-height: 1.5;
}

.card__icon {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 14px;
  border: 3px solid #000;
  border-radius: 50%;
}

@media screen and (min-width: 996px) {
  .card__icon {
    top: 20px;
    right: 20px;
    padding: 20px;
  }
}

.card--theme-one .card__icon {
  background-color: #EA00FF;
}

.card--theme-two .card__icon {
  background-color: #009DFF;
}
